<!DOCTYPE html>
<html>
<head>
    <title>Appointment Calendar</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <img src="/logo.png" alt="Logo" class="logo">

    <div class="nav">
        <a href="/">Home</a>

        <% if (!session.userId) { %>
            <a href="/login">Login</a>
        <% } else { %>
            <a href="/logout">Logout</a>
        <% } %>
    </div>

    <h1>Calendar</h1>

    <table>
        <tr>
            <th>Patient</th>
            <th>Doctor</th>
            <th>Date & Time</th>
            <th>Action</th>
        </tr>

        <% appts.forEach(a => { %>
        <tr>
            <td><%= a.patient %></td>
            <td><%= a.doctor %></td>
            <td><%= a.datetime %></td>

            <td class="action-links">
                <a href="/edit/<%= a.id %>" class="edit">Edit</a>
                <a href="/delete/<%= a.id %>" class="delete">Delete</a>
            </td>
        </tr>

        <% }) %>
    </table>

</body>
</html>
